@import "../shared/variables";
@import "../shared/mixins";

@keyframes tooltip {
  0% {
    opacity: 0;
    transform: translate(-10px, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(0px, -50%);
  }
}

.armstrong-sidebar {
  padding: $spacing-medium;
  background-color: var(--orbit-color);
  box-shadow: -9px 0px 9px rgba(47, 47, 47, 0.22), 4px 0px 9px rgba(gray, 0.4);
  color: white;
  user-select: none;

  .orbit-sidebar-logo {
    margin-bottom: $spacing-medium;
    padding: $spacing-medium 0;

    p {
      line-height: 0;
    }
  }

  .tooltip-wrapper {
    .tooltip {
      color: $gray-very-dark;
      background-color: white;
      border-radius: $border-radius-small;
      box-shadow: $shadow-medium;
      padding: $spacing-xsmall $spacing-small;
      font-weight: $font-weight-regular;

      &:after {
        display: none;
      }

      &:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 7px;
        margin-top: -7px;
      }
    }
  }

  .sidebar-link {
    padding: $spacing-small;
    text-decoration: none;
    color: $white;
    border-radius: 60px;
    transition: box-shadow $transition-quick, background-color $transition-quick;
    display: flex;
    align-items: center;
    margin-bottom: $spacing-small;
    cursor: pointer;

    &[data-is-active="true"] {
      box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.18);
    }
    &:hover[data-is-active="false"] {
      background-color: rgba($white, 0.08);
    }
  }

  i {
    margin-right: $spacing-small;
  }

  button.btn.armstrong-menu-button {
    position: absolute;
    bottom: $spacing-small;
    right: $spacing-small;
    padding: $spacing-large;
    background-color: transparent;
    box-shadow: none;
    color: white;
  }

  &[data-open="false"] {
    overflow: visible;

    .sidebar-link {
      @include circle(56px);
      @include centre-content();

      .icon {
        margin-right: 0;
      }
    }
  }
}

button.btn.armstrong-menu-button.open {
  display: none;
}
