@import "../shared/variables";
@import "../shared/mixins";

$header-height: 50px;

.async-dt {
  .filters {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 $spacing-large;
    > .armstrong-input {
      margin: 0;
    }
    > *:not(:first-child) {
      margin-left: $spacing-small;
    }
  }
  table.data-table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    tbody {
      box-shadow: $shadow-big;
      .cover-spinner {
        color: var(--orbit-color);
        position: absolute;
        top: $header-height;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(white, 0.7);
        opacity: 0;
        pointer-events: none;
        transition: opacity 150ms;
        &[data-visible="true"] {
          opacity: 0.8;
          pointer-events: all;
        }
      }
    }
    .table-cell-inner {
      padding: $spacing-medium;
      &:not(.custom) {
        color: $gray-dark;
      }
      &.custom {
        padding-top: 0;
        padding-bottom: 0;
      }
      display: flex;
      align-items: center;
      &.header {
        font-size: $font-size-xxsmall;
        padding-bottom: $spacing-small;
        color: $gray-medium;
        font-weight: normal;
        height: $header-height;
        i {
          margin-left: $spacing-xsmall;
        }
      }
      a {
        color: var(--orbit-color);
        text-decoration: underline;
      }
    }
    tr {
      > th,
      > td {
        &[data-width-preset="min"] {
          width: 1px;
        }
        &[data-width-preset="max"] {
          width: 100%;
        }
      }
      > th {
        white-space: nowrap;
      }
      &[data-clickable="true"] {
        cursor: pointer;
        transition: background-color 150ms;
        &:hover {
          background-color: $gray-very-light;
        }
      }
      &:not(:last-child) td {
        border-bottom: 1px solid $gray-light;
      }
      &.no-data {
        height: 200px;
        .no-data-block {
          color: $gray-medium;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: $font-size-medium;
            margin-right: $spacing-small;
          }
          h3 {
            font-size: $font-size-medium;
            text-align: center;
            margin: 0;
          }
          span {
            font-size: $font-size-xsmall;
          }
        }
      }
    }
  }

  .table-pager {
    display: flex;
    justify-content: center;
    margin-top: $spacing-xlarge;
    color: $gray-dark;
    .table-pager-inner {
      display: flex;
      align-items: center;
      .page-indicator {
        display: flex;
        align-items: center;
        margin: 0 $spacing-large;
        font-size: $font-size-xsmall;
        .armstrong-input {
          margin: 0 $spacing-small;
          input {
            width: 50px;
            min-width: 0;
            height: 34px;
          }
        }
      }
      .btn.double-arrow {
        padding: 0;
        width: 40px;
        height: 40px;
        i {
          font-size: $font-size-xsmall;
          &:first-child {
            margin-right: -4px;
          }
          &:last-child {
            margin-left: -4px;
          }
        }
        &:first-child {
          margin-right: $spacing-medium;
        }
        &:last-child {
          margin-left: $spacing-medium;
        }
      }
    }
  }
}
