@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.orbit-spinner {
  display: inline-flex;

  .icon {
    animation: spin 1s linear infinite;
    font-size: 2rem;
  }
  &[data-fill="true"] {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}
