@import "../style/shared/_variables.scss";

.orbit-group {
  @include orbit-box;

  > div:not(.orbit-group) {
    margin-bottom: $spacing-medium;
    padding: 0 $spacing-medium;
  }

  > .group-label {
    color: $gray-medium;
    display: block;
  }

  .orbit-group {
    &:last-of-type {
      margin-bottom: $spacing-small;
    }
  }

  &[data-inline="true"] {
    display: flex;
    align-items: center;

    div {
      margin-bottom: 0;
    }

    > .group-label {
      margin-bottom: 0;
    }
  }

  label {
    display: inline-block;
    margin-bottom: $spacing-medium;

    i {
      margin-right: $spacing-xsmall;
    }
  }

  .hidden-field {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
  }
}
