@import "../style/shared/_variables.scss";

.orbit-group {
  @include orbit-box;

  > div {
    margin-bottom: $spacing-medium;
    padding: 0 $spacing-medium;
  }

  > .group-label {
    color: $gray-medium;
    display: block;
  }

  label {
    display: inline-block;
    margin-bottom: $spacing-medium;

    i {
      margin-right: $spacing-xsmall;
    }
  }

  .hidden-field {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
