$size: 40px;
$big-size: 60px;

button.btn,
a.btn {
  @include inline-centre-content();
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: $shadow-small;
  background-color: $white;
  color: black;
  border-radius: $size / 2;
  height: $size;
  transition: background-color $transition-quick;

  &:hover {
    background-color: darken($white, 2%);
  }

  &[data-accent="true"] {
    ::before,
    ::after {
      color: var(--orbit-color);
    }
  }

  &[data-invert="true"] {
    background-color: var(--orbit-color);
    color: $white;
  }

  &[data-has-text="false"] {
    @include circle($size);
  }

  &[data-big="true"] {
    @include circle($big-size);
  }

  &[data-danger="true"],
  &[data-display-mode="negative"] {
    ::before,
    ::after {
      color: $color-negative;
    }
  }

  &[data-success="true"],
  &[data-display-mode="positive"] {
    ::before,
    ::after {
      color: $color-positive;
    }
  }
}
