*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  #host {
    min-height: 100vh;
  }
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}